    .user-wrapper .btn {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        margin: 5px;
    }

    .user-wrapper .description {
        padding: 25px;
        background-color: #fff;
    }
    .user-wrapper img {
        width:100%;
    }

.navbar-brand {
  line-height:12px;
  
  padding-bottom:5px;
}
.navbar-brand small {
  padding-top: 5px;
  display:block;
  font-size:12px;
}